@import '../../style.scss';

.new-task {
    display: flex;
    justify-content: center;

    form {
        display: flex;
        padding: 20px;
        width: 50%;
        height: 30px;

        input {
            width: 100%;
        }

        button {
            width: 80px;
            background: $blue;
            color: $white;
            border: none;
            font-weight: bold;
        }
    }
}